@media(max-width: 1800px) {



    .emblem {
        height: 420px;
        width: 420px;
    }

    .pdtop {
        padding-top: 120px;
    }

    .dcont {
        padding-bottom: 25px;
    }

}

@media(max-width: 1450px) {



    .emblem {
        height: 365px;
        width: 365px;
    }

    .pdtop {
        padding-top: 60px;
    }

    .categorys {
        font-size: 25px;
    }


    .categoryct {
        min-width: 330px;
    }

    .social a img {
        height: 45px;
        width: 45px;
    }

    .socialwap img {
        height: 57px;
    }


    .opening-hours h2 {
        margin-bottom: 13px;
    }

    .opening-hours table {
        font-size: 20px;
    }

    .opening-hours {
        padding: 5px;
        margin: 30px auto;
    }

}

@media(max-width: 1270px) {



    .emblem {
        height: 270px;
        width: 270px;
    }


    .categorys {
        font-size: 22px;
    }

    .dcont {
        padding-bottom: 5px;
    }


    .categoryct {
        min-width: 270px;
    }

    .social a img {
        height: 40px;
        width: 40px;
    }

    .socialwap img {
        height: 51px;
    }

    .spacebtwn {
        width: 190px;
    }

    .opening-hours table {
        font-size: 18px;
    }

    .spacebtwntw {
        width: 130px;
        padding-top: 18px;
    }

    .product-img {
        width: 300px;
        height: 210px;
    }

    .product-card {
        height: 410px;
    }

    .shisha-img {
        width: 260px;
        height: 255px;
    }

    .product-card-shisha {
        height: 420px;
    }

}

@media(max-width: 1270px) {

    .emblem {
        height: 250px;
        width: 250px;
    }

    .categoryct {
        min-width: 260px;
    }

    .pdtop {
        padding-top: 26px;
    }

    .categorys {
        font-size: 20px;
    }

    .dcont {
        padding-bottom: 2px;
    }

    .social a img {
        height: 37px;
        width: 37px;
    }

    .socialwap img {
        height: 47px;
    }

    .spacebtwn {
        width: 180px;
    }

    .spacebtwntw {
        width: 128px;
        padding-top: 12px;
    }

    .opening-hours h2 {
        margin-bottom: 7px;
        font-size: 21px;
    }

    .opening-hours {
        padding: 0px;
        margin: 12px auto;
    }

    .product-img {
        width: 255px;
        height: 169px;
    }

    .product-card {
        height: 365px;
        font-size: 15px;
    }

    .shisha-img {
        width: 230px;
        height: 200px;
    }

    .product-card-shisha {
        height: 360px;
        font-size: 14px;
    }


    .modal-content {
        max-width: 305px;
        width: 90%;
        font-size: 15px;
    }

    .modal-content img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 0px;
    }

}

@media(max-width: 980px) {

    .header {
        height: 240px;
    }


    .emblem {
        height: 200px;
        width: 200px;
    }

    .categoryct {
        min-width: 215px;
    }


    .categorys {
        font-size: 16px;
    }

    .social a img {
        height: 30px;
        width: 30px;
    }

    .spacebtwn {
        width: 160px;
    }

    .social {
        height: 30px;
    }

    .socialwap img {
        height: 40px;
    }

    .spacebtwntw {
        width: 120px;
        padding-top: 10px;
    }

    .opening-hours h2 {
        margin-bottom: 4px;
        font-size: 18px;
    }

    .opening-hours table {
        font-size: 13px;
    }

    .impressum-link {
        margin-top: 8px;
        font-size: 12px;
    }


    .product-img {
        width: 208px;
        height: 150px;
    }


    .product-card {
        height: 335px;
        font-size: 14px;
    }

    .modal-content img {
        width: 75%;
    }

}

@media(max-width: 849px) {

    .product-img {
        width: 168px;
        height: 81px;
    }

    .product-card {
        height: 225px;
        font-size: 11px;
    }

    .shisha-img {
        width: 165px;
        height: 160px;
    }

    .product-card-shisha {
        height: 295px;
        font-size: 11px;
    }

    .modal-content img {
        width: 75%;
    }

    .age-modal-content {
        padding: 20px 14px;
        max-width: 200px;
    }

    .age-modal-content h2 {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .age-btn {

        padding: 8px 22px;
        border-radius: 6px;
        font-size: 15px;

    }

    .cookie-notice {
        padding: 15px 34px;
        font-size: 12px;
        width: 310px;

    }

}

@media(max-width: 849px) {

    .header {
        height: 190px;
    }

    .emblem {
        height: 165px;
        width: 165px;
    }

    .categoryct {
        min-width: 160px;
    }

    .categorys {
        font-size: 13px;
    }

    .dcont {
        padding-bottom: 0px;
    }

    .social a img {
        height: 26px;
        width: 26px;
    }

    .socialwap img {
        height: 34px;
    }

    .spacebtwn {
        width: 120px;
    }

    .spacebtwntw {
        width: 105px;
    }


    .opening-hours h2 {
        margin-bottom: 4px;
        font-size: 13px;
    }

    .opening-hours table {
        font-size: 9px;
    }

    .product-img {
        width: 75px;
        height: 55px;
    }

    .product-card {
        height: 192px;
        font-size: 10px;
    }

    .shisha-img {
        width: 150px;
        height: 130px;
    }

    .product-card-shisha {
        height: 250px;
        font-size: 10px;
    }
}

@media(max-width: 735px) {
    .product-img {
        width: 70px;
        height: 45px;
    }

    .product-card {
        height: 155px;
        font-size: 8px;
    }

    .shisha-img {
        width: 117px;
        height: 108px;
    }

    .product-card-shisha {
        height: 205px;
        font-size: 8px;
    }
}

@media(max-width: 610px) {


    .header {
        height: 165px;
    }

    .emblem {
        height: 135px;
        width: 135px;
    }

    .categoryct {
        min-width: 130px;
    }

    .categorys {
        font-size: 10px;
    }

    .social a img {
        height: 20px;
        width: 20px;
    }

    .socialwap img {
        height: 27px;
    }

    .social {
        height: 20px;
        width: 20px;
    }

    .spacebtwn {
        width: 96px;
        padding-top: 15px;
    }

    .spacebtwntw {
        width: 62px;
    }


    .dcont {
        padding-top: 18px;
    }

    .opening-hours h2 {
        font-size: 11px;
    }

    .opening-hours table {
        font-size: 7px;
    }

    .impressum-link {
        margin-top: 8px;
        font-size: 7px;
    }

    .modal-content img {
        width: 60%;
    }



    .modal-content {
        max-width: 160px;
        width: 90%;
        font-size: 8px;
    }



}

@media(max-width: 580px) {

    .shisha-img {
        width: 92px;
        height: 80px;
    }

    .product-card-shisha {
        height: 166px;
        font-size: 7px;
    }

    .product-img {
        width: 60px;
        height: 37px;
    }

    .product-card {
        height: 137px;
        font-size: 7px;
    }



}

@media(max-width: 550px) {

    .shisha-img {
        width: 80px;
        height: 70px;
    }

    .product-card-shisha {
        height: 145px;
        font-size: 6px;
        padding: 10px;
        margin: 7px;
    }

    .product-img {
        width: 45px;
        height: 30px;
    }

    .product-card {
        height: 115px;
        font-size: 6px;
        padding: 10px;
        margin: 7px;
    }

    .whatsapp-btn {
        margin-top: 9px;
        padding: 7px 12px;
    }

    .cookie-notice {
        padding: 10px 28px;
        font-size: 9px;
        width: 272px;
    }

}

@media(max-width: 470px) {


    .header {
        height: 135px;
    }

    .emblem {
        height: 105px;
        width: 105px;

    }

    .categoryct {
        min-width: 100px;
    }

    .dcont {
        padding-top: 13px;
    }

    .categorys {
        font-size: 7px;
    }

    .social a img {
        height: 15px;
        width: 15px;
    }

    .socialwap img {
        height: 21px;
    }

    .spacebtwn {
        width: 79px;
        padding-top: 13px;
    }

    .social {
        height: 14px;
        width: 24px;
    }

    .spacebtwntw {
        width: 56px;
    }

    .opening-hours h2 {
        font-size: 8px;
    }

    .opening-hours td {
        padding: 3px;

    }

    .opening-hours table {
        font-size: 6px;
    }

    .impressum-link {
        margin-top: 8px;
        font-size: 6px;
    }

    .modal-content {
        max-width: 120px;
        width: 90%;
        font-size: 7px;
    }
}


@media(max-width: 435px) {

    .product-card {
        height: 127px;
        font-size: 6px;
        padding: 9px;
        margin: 0;
        width: 100px;
    }


    .whatsapp-btn {
        margin-top: 10px;
        padding: 6px 6px;
        border-radius: 6px;
    }

    .product-img {
        width: 62px;
        height: 40px;
    }

    .productcontent {
        gap: 26px;
        padding: 11px;
    }


    .product-card-shisha {
        width: 90px;
        height: 135px;
        font-size: 6px;
        padding: 9px;
        margin: 4px;
    }

    .shisha-img {
        width: 79px;
        height: 63px;

    }
}